.navigation {
    height: var(--bottom-nav-height);
    width: 100vw;
    overflow: hidden;
    border-bottom: 1px solid var(--color-grey);
}
button.active svg {
    fill: var(--color-accent) !important;
}

button.active div {
    color: var(--color-accent) !important;
}
