.wrapper {
	max-width: 500px;
	margin: 0 auto;		
	padding: 0;
}

.wrapper-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 65px - 50px);
}

.wrapper-button {
	margin: 10px;
}

.row {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.field label {
	left: 10px;
}

.field > div > * {
	padding: 0 10px !important;
}

.card {
	margin-top: 25px !important;
	padding: 0 10px 10px !important;
}