.landing {
    flex-direction: column;
    height: 100vh;
    color: #757575;
}
.header {
    text-align: center;
    padding-bottom: 50px;
}
.header-heading {
    font-size: 80px;
    font-weight: 300;
    margin: 0 0 30px;
}

.header-subheading {
    margin: 0 0 10px;
}

.header-para {
    margin: 0;
}

.button-google {
    width: calc(100% - 40px);
}
