.landing {
    flex-direction: column;
    height: 100vh;
    color: #fff;
    object-fit: cover;
    background-position: 52% 95%;
    background-size: 1000px;
    background-image: url('./landing0.jpeg');
}
.header {
    text-align: center;
    padding-bottom: 50px;
}
.header-heading {
    font-size: 50px;
    margin: 0 0 30px;
}

.header-subheading {
    margin: 0 0 10px;
}

.header-para {
    margin: 0;
}

.button-google {
    width: calc(100% - 40px);
}
